.Pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > li {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        &:not(:last-child) {
            margin-right: 16px;
            
        }
    }
    & > li > a {
        color: #808080;
        cursor: pointer;
       
    }
    & > .Pagination__active {
        background: #0064EB;
        border-radius: 3px;
        padding: 2px 6px;
    }
    
}
