.icon {
  width: 15px;
  height: 15px;
}
.tittle {
  font-weight: 500;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
.foto {
  width: 60px;
  height: 60px;
}
.container {
  width: 1000px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.userContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.user {
  font-weight: 700;
  font-size: larger;
  color: blue;
}
.userContainer .icon {
  align-self: flex-end;
}