@import "@fontsource/bebas-neue";
@import "@fontsource/lobster";

* {
  font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    fill:inherit; 
    stroke:inherit;
    path{ fill:inherit; stroke:inherit; }
  }
body {
    background: #E5E5E5;
    margin: 0 auto;
    padding: 0;
  }
  li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin: 0; /* Отступ слева в браузере IE и Opera */
    padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Убираем внешние отступы */
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Выставляем основные настройки по-умолчанию для body */
  
  
  /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
  }
  
  /* Упрощаем работу с изображениями */
  img {
    width: 100%;
    display: block;
  }
  
  /* Указываем понятную периодичность в потоке данных у article*/
  article > * + * {
    margin-top: 1em;
  }
  
  /* Наследуем шрифты для инпутов и кнопок */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }