.wrapper {
    max-width: 1450px;
    margin: 0 auto;
}

.Header {
    display: flex;
    justify-content: center;
    
    .HeaderFoto {
        width: 350px;
        height: 200px; 
    } 
}  
.line {
    border-bottom: 1px solid black;
}
.wrapper .circular {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;       
}

.foto {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 100%;
    padding: 17px;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    .title {
        text-align: center;
        color: #666;
        margin: 8px 0;
        font-weight: 900;
        font-size: 15px;
       
    }
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    @media (max-width: 1595px) {
        padding: 0 0px;
      }
      @media (max-width: 1412px) {
        justify-content: space-around;
      }
    @media (max-width: 1415px) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
      }
      @media (max-width: 456px) {
        padding: 0 0px;
      }

      
}
.select .boxSelect {
    width: 250px;
    @media (max-width: 484px) {
        margin-top: 5px;
      }
}
.select .boxSelect .FormControl1 {
    width: 100%;
}
.select .boxSelect .FormControl1 .FormControlInputLabel {
    @media (max-width: 484px) {

      }
    
}
.select .boxSelect .FormControl1 .FormControlInputLabelSelect {
    @media (max-width: 484px) {
        height: 30px;
      }
    
}
.select .boxSelect .FormControl1 .FormControlInputLabel {
    
    @media (max-width: 484px) {
        top: -6px;
      }
}


a {
    color: blue;
    &:hover {
        color: green;
    }
}
.btn {
    width: 100px;
    padding: 10px;
    font-weight: 700;
        &:hover {
            color: green;
        }
}
.newsReleas {
    margin-top: 5px;
    align-self: flex-end;
    font-size: 16px;
    font-weight: bold;
    color: black;
    @media (max-width: 699px) {
        font-size: 10px;
    }
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
        @media (max-width: 740px) {
            flex-wrap: wrap;
            gap: 10px;
        }
      @media (max-width: 485px) {
        justify-content: center;
      }
      @media (max-width: 487px) {
        &:last-child {
            align-self: start;
        }
      }
}

.heart {
    border: none;
    color: rgb(9, 9, 9);
    font-size: 32px;
    background: none;
    &:hover {
        background-color: rgb(148, 183, 148);
    }
}
.heart1 {
    border: none;
    color: rgb(247, 7, 7);
    font-size: 32px;
    background: none;
}
.newsSite {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

