.page-catalog {
    width: 100%;
}
.wrapper-catalog {
    background-color: white;
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    padding: 32px 20px 15px;
    display: flex;
    align-items: center;
    & h1 {
        font-weight: 700;
        color: #333;
        font-size: 45px;
        line-height: 1;
    }
}
.good-priсe {
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 14px;
    margin-left: 21px;
    font-size: 11px;
    margin-top: 8px;
}
.container-products {
    display: flex;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

}
.container-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 20%;
    height: 20%;
    border-right: 1px solid #e6e6e6;
    padding: 5px;
    &:hover {
        background-color: #e6e6e6;
    }
    &:hover:after{
        position: absolute;
        content: '';
        bottom: -1px;
        left: 0;
        border: 1px solid gray;
        width: 100%;
    }
    & img {
        width: 36px;
        height: 36px;
    }
    & p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 1;
    }
    
}
.container-item-products {
    display: flex;
    border-bottom: 2px solid #e6e6e6;  
    & li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        padding: 20px;
        position: relative;
        &:hover {
            background-color: #e6e6e6;
            text-decoration: none;
        }
        &:hover:after{
            position: absolute;
            content: '';
            bottom: -1px;
            left: 0;
            border: 1px solid gray;
            width: 100%;
        }
        & img {
            width: 25px;
            height: 25px;
        }
        & span {
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            margin-left: 2px;
        
        }
    }
}
.container-links {
    display: flex;
    overflow: hidden;
    padding: 15px;

    & .link {
        font-weight: 400;
        color: #004d99;
        text-decoration: none;
        white-space: nowrap;
        font-size: 12px;
        line-height: 1;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.container-advertisings {
    display: flex;
    flex-wrap: wrap;
    & .container-advertising {
        width: 285px;
        height: 170px;
        background-image: url('../../../iconForPageCatalog/d34e5b3e86578d50952838dec595b4b2.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        z-index: 1;
        cursor: pointer;
        box-shadow: 0 0 0 1px #fff;

        &:hover {
            opacity: 0.6;
        }
        
        & h1 {
            font-size: 25px;
            line-height: 27px;
            color: white;
            margin-bottom: 3px;
            z-index: 10;
            
        }
        & p {
            font-size: 15px;
            line-height: 17px;
            color: white;
            z-index: 10;
        }
    }
}
.container-advertising-discription {
    padding: 20px 10px 0 10px
}
.container-advertisings {
    & .laptop {
        background-image: url('../../../iconForPageCatalog/laptops.jpg');
    }
}
.container-advertisings {
    & .coffe {
        background-image: url('../../../iconForPageCatalog/coffe.jpg');
    }
}
.container-advertisings {
    & .chair {
        background-image: url('../../../iconForPageCatalog/chear.jpg');
    }
}
.container-advertisings {
    & .washingM {
        background-image: url('../../../iconForPageCatalog/washingM.webp');
    }
}
.container-advertisings {
    & .bags {
        background-image: url('../../../iconForPageCatalog/bags.jpg');
    }
}
.container-advertisings {
    & .card {
        background-image: url('../../../iconForPageCatalog/videocard.jpg');
    }
}
.container-advertisings {
    & .table {
        background-image: url('../../../iconForPageCatalog/table.jpg');
    }
}